html, body {width:100%; margin:0;}

#wrapper{position: relative;}

#content{width:100%;
        height:607px;
        background-repeat: no-repeat;
        background-size:100% 100%;
        position: absolute;
        z-index:1;
        filter: blur(3px); 
}


#content-card{width:800px; height: 450px;
              background-image:url('kitchen.jpg');
              background-size:100% 100%;

              position:absolute; z-index:2;
              left:300px; top:80px;
              border-radius:20px;
}

#checkout-form{width:400px; height:450px;
               background-color:#FAF6E9;

               position:absolute; z-index:3;
               left:700px; top:80px;
               border-radius:0 20px 20px 0;
}

@media (max-width:600px){
        #content-card{position:absolute;
                     left:10px; top:100px;
                     width:100%;}
        #checkout-form{position:absolute;
                        left:0; width:50%;}

}

@media (max-width:800px){
        #content-card{position:absolute;
                     left:0px;
                     width:100%;}
        #content{height:615px;}

        #checkout-form{position:absolute;
                        left:150px; top:120px;
                        height:380px;
                        border-radius:5px;}

}



